<duet-modal heading="Tarkista tietosi" icon="profile-personal-info"  (duetClose)="hide()">
    <form novalidate action="#">
        <duet-paragraph class="duet-text-center"> Kaikki kentät ovat pakollisia ellei muuten mainita. </duet-paragraph>
        <duet-spacer size="large"></duet-spacer>
        <duet-choice-group value="suomi" label="Asiointikieli" direction="horizontal" name="group" responsive>
            <duet-choice label="Suomi" type="radio" value="suomi" expand></duet-choice>
            <duet-choice label="Svenska" type="radio" value="svenska" expand></duet-choice>
            <duet-choice label="English" type="radio" value="english" expand></duet-choice>
        </duet-choice-group>
        <duet-input label="Katuosoite" name="streetaddress" placeholder="Kotikatu 123" expand></duet-input>
        <duet-spacer size="large"></duet-spacer>
        <duet-button variation="primary" (click)="test()">Jatka</duet-button>
        <duet-button (click)="hide()">Peruuta</duet-button>
    </form>
</duet-modal>
