/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* You can add global styles to this file, and also import other style files */
.duet-background-warning {
  background: #f7b228 !important;
}
.duet-color-warning {
  color: #f7b228 !important;
}
.duet-fill-warning {
  fill: #f7b228 !important;
}
.duet-background-gray-darker {
  background: #657787 !important;
}
.duet-color-gray-darker {
  color: #657787 !important;
}
.duet-fill-gray-darker {
  fill: #657787 !important;
}
.duet-background-gray-lighter {
  background: #f5f8fa !important;
}
.duet-color-gray-lighter {
  color: #f5f8fa !important;
}
.duet-fill-gray-lighter {
  fill: #f5f8fa !important;
}
.duet-background-category-home {
  background: #d32483 !important;
}
.duet-color-category-home {
  color: #d32483 !important;
}
.duet-fill-category-home {
  fill: #d32483 !important;
}
.duet-background-primary {
  background: #0077b3 !important;
}
.duet-color-primary {
  color: #0077b3 !important;
}
.duet-fill-primary {
  fill: #0077b3 !important;
}
.duet-background-category-vehicle {
  background: #364a81 !important;
}
.duet-color-category-vehicle {
  color: #364a81 !important;
}
.duet-fill-category-vehicle {
  fill: #364a81 !important;
}
.duet-background-success {
  background: #00875a !important;
}
.duet-color-success {
  color: #00875a !important;
}
.duet-fill-success {
  fill: #00875a !important;
}
.duet-background-category-family {
  background: #0b7288 !important;
}
.duet-color-category-family {
  color: #0b7288 !important;
}
.duet-fill-category-family {
  fill: #0b7288 !important;
}
.duet-background-primary-lightest {
  background: #f3f9fc !important;
}
.duet-color-primary-lightest {
  color: #f3f9fc !important;
}
.duet-fill-primary-lightest {
  fill: #f3f9fc !important;
}
.duet-background-primary-lighter {
  background: #e6f2f8 !important;
}
.duet-color-primary-lighter {
  color: #e6f2f8 !important;
}
.duet-fill-primary-lighter {
  fill: #e6f2f8 !important;
}
.duet-background-brand-blue {
  background: #00a1d4 !important;
}
.duet-color-brand-blue {
  color: #00a1d4 !important;
}
.duet-fill-brand-blue {
  fill: #00a1d4 !important;
}
.duet-background-primary-dark {
  background: #004d80 !important;
}
.duet-color-primary-dark {
  color: #004d80 !important;
}
.duet-fill-primary-dark {
  fill: #004d80 !important;
}
.duet-background-gray-lightest {
  background: #fff !important;
}
.duet-color-gray-lightest {
  color: #fff !important;
}
.duet-fill-gray-lightest {
  fill: #fff !important;
}
.duet-background-category-finance {
  background: #7a01c4 !important;
}
.duet-color-category-finance {
  color: #7a01c4 !important;
}
.duet-fill-category-finance {
  fill: #7a01c4 !important;
}
.duet-background-gray-dark {
  background: #909599 !important;
}
.duet-color-gray-dark {
  color: #909599 !important;
}
.duet-fill-gray-dark {
  fill: #909599 !important;
}
.duet-background-gray-light {
  background: #e1e3e6 !important;
}
.duet-color-gray-light {
  color: #e1e3e6 !important;
}
.duet-fill-gray-light {
  fill: #e1e3e6 !important;
}
.duet-background-secondary {
  background: #00294d !important;
}
.duet-color-secondary {
  color: #00294d !important;
}
.duet-fill-secondary {
  fill: #00294d !important;
}
.duet-background-category-pet {
  background: #a8014e !important;
}
.duet-color-category-pet {
  color: #a8014e !important;
}
.duet-fill-category-pet {
  fill: #a8014e !important;
}
.duet-background-primary-light {
  background: #cde5f1 !important;
}
.duet-color-primary-light {
  color: #cde5f1 !important;
}
.duet-fill-primary-light {
  fill: #cde5f1 !important;
}
.duet-background-category-travel {
  background: #d54203 !important;
}
.duet-color-category-travel {
  color: #d54203 !important;
}
.duet-fill-category-travel {
  fill: #d54203 !important;
}
.duet-background-gray {
  background: #cfd2d4 !important;
}
.duet-color-gray {
  color: #cfd2d4 !important;
}
.duet-fill-gray {
  fill: #cfd2d4 !important;
}
.duet-background-danger {
  background: #de2362 !important;
}
.duet-color-danger {
  color: #de2362 !important;
}
.duet-fill-danger {
  fill: #de2362 !important;
}
.duet-background-gray-darker-turva {
  background: #444445 !important;
}
.duet-color-gray-darker-turva {
  color: #444445 !important;
}
.duet-fill-gray-darker-turva {
  fill: #444445 !important;
}
.duet-background-gray-lighter-turva {
  background: #f5f5f7 !important;
}
.duet-color-gray-lighter-turva {
  color: #f5f5f7 !important;
}
.duet-fill-gray-lighter-turva {
  fill: #f5f5f7 !important;
}
.duet-background-category-home-turva {
  background: #a10a4e !important;
}
.duet-color-category-home-turva {
  color: #a10a4e !important;
}
.duet-fill-category-home-turva {
  fill: #a10a4e !important;
}
.duet-background-primary-turva {
  background: #c60c30 !important;
}
.duet-color-primary-turva {
  color: #c60c30 !important;
}
.duet-fill-primary-turva {
  fill: #c60c30 !important;
}
.duet-background-category-vehicle-turva {
  background: #171c3a !important;
}
.duet-color-category-vehicle-turva {
  color: #171c3a !important;
}
.duet-fill-category-vehicle-turva {
  fill: #171c3a !important;
}
.duet-background-success-turva {
  background: #08874e !important;
}
.duet-color-success-turva {
  color: #08874e !important;
}
.duet-fill-success-turva {
  fill: #08874e !important;
}
.duet-background-primary-lightest-turva {
  background: #fcf3f4 !important;
}
.duet-color-primary-lightest-turva {
  color: #fcf3f4 !important;
}
.duet-fill-primary-lightest-turva {
  fill: #fcf3f4 !important;
}
.duet-background-category-family-turva {
  background: #c70c70 !important;
}
.duet-color-category-family-turva {
  color: #c70c70 !important;
}
.duet-fill-category-family-turva {
  fill: #c70c70 !important;
}
.duet-background-category-union-turva {
  background: #a9457c !important;
}
.duet-color-category-union-turva {
  color: #a9457c !important;
}
.duet-fill-category-union-turva {
  fill: #a9457c !important;
}
.duet-background-primary-lighter-turva {
  background: #f9e6ea !important;
}
.duet-color-primary-lighter-turva {
  color: #f9e6ea !important;
}
.duet-fill-primary-lighter-turva {
  fill: #f9e6ea !important;
}
.duet-background-primary-dark-turva {
  background: #940925 !important;
}
.duet-color-primary-dark-turva {
  color: #940925 !important;
}
.duet-fill-primary-dark-turva {
  fill: #940925 !important;
}
.duet-background-gray-lightest-turva {
  background: #fff !important;
}
.duet-color-gray-lightest-turva {
  color: #fff !important;
}
.duet-fill-gray-lightest-turva {
  fill: #fff !important;
}
.duet-background-gray-dark-turva {
  background: #747475 !important;
}
.duet-color-gray-dark-turva {
  color: #747475 !important;
}
.duet-fill-gray-dark-turva {
  fill: #747475 !important;
}
.duet-background-gray-light-turva {
  background: #e4e4e6 !important;
}
.duet-color-gray-light-turva {
  color: #e4e4e6 !important;
}
.duet-fill-gray-light-turva {
  fill: #e4e4e6 !important;
}
.duet-background-brand-gray-turva {
  background: #b2b4b3 !important;
}
.duet-color-brand-gray-turva {
  color: #b2b4b3 !important;
}
.duet-fill-brand-gray-turva {
  fill: #b2b4b3 !important;
}
.duet-background-secondary-turva {
  background: #171c3a !important;
}
.duet-color-secondary-turva {
  color: #171c3a !important;
}
.duet-fill-secondary-turva {
  fill: #171c3a !important;
}
.duet-background-primary-light-turva {
  background: #f4cfd6 !important;
}
.duet-color-primary-light-turva {
  color: #f4cfd6 !important;
}
.duet-fill-primary-light-turva {
  fill: #f4cfd6 !important;
}
.duet-background-category-travel-turva {
  background: #098194 !important;
}
.duet-color-category-travel-turva {
  color: #098194 !important;
}
.duet-fill-category-travel-turva {
  fill: #098194 !important;
}
.duet-background-gray-turva {
  background: #cfcfd1 !important;
}
.duet-color-gray-turva {
  color: #cfcfd1 !important;
}
.duet-fill-gray-turva {
  fill: #cfcfd1 !important;
}
.duet-background-danger-turva {
  background: #e02a0d !important;
}
.duet-color-danger-turva {
  color: #e02a0d !important;
}
.duet-fill-danger-turva {
  fill: #e02a0d !important;
}
.duet-background-warning-turva {
  background: #faa40f !important;
}
.duet-color-warning-turva {
  color: #faa40f !important;
}
.duet-fill-warning-turva {
  fill: #faa40f !important;
}
.duet-background-data-07 {
  background: #c065f7 !important;
}
.duet-color-data-07 {
  color: #c065f7 !important;
}
.duet-fill-data-07 {
  fill: #c065f7 !important;
}
.duet-background-data-08 {
  background: #0069bf !important;
}
.duet-color-data-08 {
  color: #0069bf !important;
}
.duet-fill-data-08 {
  fill: #0069bf !important;
}
.duet-background-data-09 {
  background: #137835 !important;
}
.duet-color-data-09 {
  color: #137835 !important;
}
.duet-fill-data-09 {
  fill: #137835 !important;
}
.duet-background-data-10 {
  background: #b33c18 !important;
}
.duet-color-data-10 {
  color: #b33c18 !important;
}
.duet-fill-data-10 {
  fill: #b33c18 !important;
}
.duet-background-data-11 {
  background: #0da3a6 !important;
}
.duet-color-data-11 {
  color: #0da3a6 !important;
}
.duet-fill-data-11 {
  fill: #0da3a6 !important;
}
.duet-background-data-01 {
  background: #7a01c4 !important;
}
.duet-color-data-01 {
  color: #7a01c4 !important;
}
.duet-fill-data-01 {
  fill: #7a01c4 !important;
}
.duet-background-data-12 {
  background: #0b7288 !important;
}
.duet-color-data-12 {
  color: #0b7288 !important;
}
.duet-fill-data-12 {
  fill: #0b7288 !important;
}
.duet-background-data-02 {
  background: #009bcc !important;
}
.duet-color-data-02 {
  color: #009bcc !important;
}
.duet-fill-data-02 {
  fill: #009bcc !important;
}
.duet-background-data-13 {
  background: #b38918 !important;
}
.duet-color-data-13 {
  color: #b38918 !important;
}
.duet-fill-data-13 {
  fill: #b38918 !important;
}
.duet-background-data-03 {
  background: #1bab4b !important;
}
.duet-color-data-03 {
  color: #1bab4b !important;
}
.duet-fill-data-03 {
  fill: #1bab4b !important;
}
.duet-background-data-14 {
  background: #806211 !important;
}
.duet-color-data-14 {
  color: #806211 !important;
}
.duet-fill-data-14 {
  fill: #806211 !important;
}
.duet-background-data-04 {
  background: #ff5622 !important;
}
.duet-color-data-04 {
  color: #ff5622 !important;
}
.duet-fill-data-04 {
  fill: #ff5622 !important;
}
.duet-background-data-15 {
  background: #00294d !important;
}
.duet-color-data-15 {
  color: #00294d !important;
}
.duet-fill-data-15 {
  fill: #00294d !important;
}
.duet-background-data-05 {
  background: #f54c9a !important;
}
.duet-color-data-05 {
  color: #f54c9a !important;
}
.duet-fill-data-05 {
  fill: #f54c9a !important;
}
.duet-background-data-06 {
  background: #c21565 !important;
}
.duet-color-data-06 {
  color: #c21565 !important;
}
.duet-fill-data-06 {
  fill: #c21565 !important;
}
.duet-font-weight-extra-bold {
  font-weight: 800 !important;
}
.duet-letter-spacing-heading {
  letter-spacing: -0.01rem !important;
}
.duet-font-family-heading-turva {
  font-family: "turva-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.duet-font-family-text-turva {
  font-family: "turva-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.duet-font-family-heading {
  font-family: "localtapiola-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.duet-font-family-text {
  font-family: "localtapiola-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.duet-font-weight-bold {
  font-weight: 700 !important;
}
.duet-font-weight-normal {
  font-weight: 400 !important;
}
.duet-font-weight-semi-bold {
  font-weight: 600 !important;
}
.duet-font-size-xxxx-large {
  font-size: 4.5rem !important;
}
.duet-font-size-xxx-large {
  font-size: 3rem !important;
}
.duet-font-size-xx-large {
  font-size: 2.25rem !important;
}
.duet-font-size-x-large {
  font-size: 1.5rem !important;
}
.duet-font-size-large {
  font-size: 1.25rem !important;
}
.duet-font-size-medium {
  font-size: 1rem !important;
}
.duet-font-size-small {
  font-size: 0.875rem !important;
}
.duet-font-size-x-small {
  font-size: 0.75rem !important;
}
.duet-radius-sharp {
  border-radius: 0 !important;
}
.duet-radius-default {
  border-radius: 4px !important;
}
.duet-radius-circle {
  border-radius: 50% !important;
}
.duet-radius-pill {
  border-radius: 20rem !important;
}
.duet-shadow-tooltip-turva {
  box-shadow: 0 2px 10px 0 rgba(117, 117, 117, 0.13) !important;
}
.duet-shadow-default {
  box-shadow: 0 2px 6px 0 rgba(0, 41, 77, 0.07) !important;
}
.duet-shadow-tooltip {
  box-shadow: 0 2px 10px 0 rgba(0, 41, 77, 0.07) !important;
}
.duet-shadow-card-turva {
  box-shadow: 0 2px 6px 0 rgba(117, 117, 117, 0.13), 0 -1px 0 0 rgba(0, 0, 0, 0.09), -1px 0 0 0 rgba(0, 0, 0, 0.07), 1px 0 0 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.07) !important;
}
.duet-shadow-modal {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2) !important;
}
.duet-shadow-card {
  box-shadow: 0 2px 6px 0 rgba(0, 41, 77, 0.07), 0 -1px 0 0 rgba(0, 0, 0, 0.09), -1px 0 0 0 rgba(0, 0, 0, 0.07), 1px 0 0 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.07) !important;
}
.duet-shadow-hover-turva {
  box-shadow: 0 2px 10px 0 rgba(117, 117, 117, 0.15) !important;
}
.duet-shadow-hover {
  box-shadow: 0 2px 10px 0 rgba(0, 41, 77, 0.1) !important;
}
.duet-shadow-default-turva {
  box-shadow: 0 2px 6px 0 rgba(117, 117, 117, 0.13) !important;
}
.duet-mt-xx-small {
  margin-top: 4px !important;
}
.duet-mb-xx-small {
  margin-bottom: 4px !important;
}
.duet-ml-xx-small {
  margin-left: 4px !important;
}
.duet-mr-xx-small {
  margin-right: 4px !important;
}
.duet-mx-xx-small {
  margin-right: 4px !important;
  margin-left: 4px !important;
}
.duet-my-xx-small {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.duet-m-xx-small {
  margin: 4px !important;
}
.duet-pt-xx-small {
  padding-top: 4px !important;
}
.duet-pb-xx-small {
  padding-bottom: 4px !important;
}
.duet-pl-xx-small {
  padding-left: 4px !important;
}
.duet-pr-xx-small {
  padding-right: 4px !important;
}
.duet-px-xx-small {
  padding-right: 4px !important;
  padding-left: 4px !important;
}
.duet-py-xx-small {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.duet-p-xx-small {
  padding: 4px !important;
}
.duet-mt-large {
  margin-top: 20px !important;
}
.duet-mb-large {
  margin-bottom: 20px !important;
}
.duet-ml-large {
  margin-left: 20px !important;
}
.duet-mr-large {
  margin-right: 20px !important;
}
.duet-mx-large {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.duet-my-large {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.duet-m-large {
  margin: 20px !important;
}
.duet-pt-large {
  padding-top: 20px !important;
}
.duet-pb-large {
  padding-bottom: 20px !important;
}
.duet-pl-large {
  padding-left: 20px !important;
}
.duet-pr-large {
  padding-right: 20px !important;
}
.duet-px-large {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.duet-py-large {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.duet-p-large {
  padding: 20px !important;
}
.duet-mt-x-small {
  margin-top: 8px !important;
}
.duet-mb-x-small {
  margin-bottom: 8px !important;
}
.duet-ml-x-small {
  margin-left: 8px !important;
}
.duet-mr-x-small {
  margin-right: 8px !important;
}
.duet-mx-x-small {
  margin-right: 8px !important;
  margin-left: 8px !important;
}
.duet-my-x-small {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.duet-m-x-small {
  margin: 8px !important;
}
.duet-pt-x-small {
  padding-top: 8px !important;
}
.duet-pb-x-small {
  padding-bottom: 8px !important;
}
.duet-pl-x-small {
  padding-left: 8px !important;
}
.duet-pr-x-small {
  padding-right: 8px !important;
}
.duet-px-x-small {
  padding-right: 8px !important;
  padding-left: 8px !important;
}
.duet-py-x-small {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.duet-p-x-small {
  padding: 8px !important;
}
.duet-mt-xxx-small {
  margin-top: 2px !important;
}
.duet-mb-xxx-small {
  margin-bottom: 2px !important;
}
.duet-ml-xxx-small {
  margin-left: 2px !important;
}
.duet-mr-xxx-small {
  margin-right: 2px !important;
}
.duet-mx-xxx-small {
  margin-right: 2px !important;
  margin-left: 2px !important;
}
.duet-my-xxx-small {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.duet-m-xxx-small {
  margin: 2px !important;
}
.duet-pt-xxx-small {
  padding-top: 2px !important;
}
.duet-pb-xxx-small {
  padding-bottom: 2px !important;
}
.duet-pl-xxx-small {
  padding-left: 2px !important;
}
.duet-pr-xxx-small {
  padding-right: 2px !important;
}
.duet-px-xxx-small {
  padding-right: 2px !important;
  padding-left: 2px !important;
}
.duet-py-xxx-small {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.duet-p-xxx-small {
  padding: 2px !important;
}
.duet-mt-small {
  margin-top: 12px !important;
}
.duet-mb-small {
  margin-bottom: 12px !important;
}
.duet-ml-small {
  margin-left: 12px !important;
}
.duet-mr-small {
  margin-right: 12px !important;
}
.duet-mx-small {
  margin-right: 12px !important;
  margin-left: 12px !important;
}
.duet-my-small {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.duet-m-small {
  margin: 12px !important;
}
.duet-pt-small {
  padding-top: 12px !important;
}
.duet-pb-small {
  padding-bottom: 12px !important;
}
.duet-pl-small {
  padding-left: 12px !important;
}
.duet-pr-small {
  padding-right: 12px !important;
}
.duet-px-small {
  padding-right: 12px !important;
  padding-left: 12px !important;
}
.duet-py-small {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.duet-p-small {
  padding: 12px !important;
}
.duet-mt-medium {
  margin-top: 16px !important;
}
.duet-mb-medium {
  margin-bottom: 16px !important;
}
.duet-ml-medium {
  margin-left: 16px !important;
}
.duet-mr-medium {
  margin-right: 16px !important;
}
.duet-mx-medium {
  margin-right: 16px !important;
  margin-left: 16px !important;
}
.duet-my-medium {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.duet-m-medium {
  margin: 16px !important;
}
.duet-pt-medium {
  padding-top: 16px !important;
}
.duet-pb-medium {
  padding-bottom: 16px !important;
}
.duet-pl-medium {
  padding-left: 16px !important;
}
.duet-pr-medium {
  padding-right: 16px !important;
}
.duet-px-medium {
  padding-right: 16px !important;
  padding-left: 16px !important;
}
.duet-py-medium {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.duet-p-medium {
  padding: 16px !important;
}
.duet-mt-xx-large {
  margin-top: 36px !important;
}
.duet-mb-xx-large {
  margin-bottom: 36px !important;
}
.duet-ml-xx-large {
  margin-left: 36px !important;
}
.duet-mr-xx-large {
  margin-right: 36px !important;
}
.duet-mx-xx-large {
  margin-right: 36px !important;
  margin-left: 36px !important;
}
.duet-my-xx-large {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}
.duet-m-xx-large {
  margin: 36px !important;
}
.duet-pt-xx-large {
  padding-top: 36px !important;
}
.duet-pb-xx-large {
  padding-bottom: 36px !important;
}
.duet-pl-xx-large {
  padding-left: 36px !important;
}
.duet-pr-xx-large {
  padding-right: 36px !important;
}
.duet-px-xx-large {
  padding-right: 36px !important;
  padding-left: 36px !important;
}
.duet-py-xx-large {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}
.duet-p-xx-large {
  padding: 36px !important;
}
.duet-mt-xxxx-large {
  margin-top: 72px !important;
}
.duet-mb-xxxx-large {
  margin-bottom: 72px !important;
}
.duet-ml-xxxx-large {
  margin-left: 72px !important;
}
.duet-mr-xxxx-large {
  margin-right: 72px !important;
}
.duet-mx-xxxx-large {
  margin-right: 72px !important;
  margin-left: 72px !important;
}
.duet-my-xxxx-large {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}
.duet-m-xxxx-large {
  margin: 72px !important;
}
.duet-pt-xxxx-large {
  padding-top: 72px !important;
}
.duet-pb-xxxx-large {
  padding-bottom: 72px !important;
}
.duet-pl-xxxx-large {
  padding-left: 72px !important;
}
.duet-pr-xxxx-large {
  padding-right: 72px !important;
}
.duet-px-xxxx-large {
  padding-right: 72px !important;
  padding-left: 72px !important;
}
.duet-py-xxxx-large {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}
.duet-p-xxxx-large {
  padding: 72px !important;
}
.duet-mt-xxxxx-large {
  margin-top: 94px !important;
}
.duet-mb-xxxxx-large {
  margin-bottom: 94px !important;
}
.duet-ml-xxxxx-large {
  margin-left: 94px !important;
}
.duet-mr-xxxxx-large {
  margin-right: 94px !important;
}
.duet-mx-xxxxx-large {
  margin-right: 94px !important;
  margin-left: 94px !important;
}
.duet-my-xxxxx-large {
  margin-top: 94px !important;
  margin-bottom: 94px !important;
}
.duet-m-xxxxx-large {
  margin: 94px !important;
}
.duet-pt-xxxxx-large {
  padding-top: 94px !important;
}
.duet-pb-xxxxx-large {
  padding-bottom: 94px !important;
}
.duet-pl-xxxxx-large {
  padding-left: 94px !important;
}
.duet-pr-xxxxx-large {
  padding-right: 94px !important;
}
.duet-px-xxxxx-large {
  padding-right: 94px !important;
  padding-left: 94px !important;
}
.duet-py-xxxxx-large {
  padding-top: 94px !important;
  padding-bottom: 94px !important;
}
.duet-p-xxxxx-large {
  padding: 94px !important;
}
.duet-mt-xxx-large {
  margin-top: 48px !important;
}
.duet-mb-xxx-large {
  margin-bottom: 48px !important;
}
.duet-ml-xxx-large {
  margin-left: 48px !important;
}
.duet-mr-xxx-large {
  margin-right: 48px !important;
}
.duet-mx-xxx-large {
  margin-right: 48px !important;
  margin-left: 48px !important;
}
.duet-my-xxx-large {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}
.duet-m-xxx-large {
  margin: 48px !important;
}
.duet-pt-xxx-large {
  padding-top: 48px !important;
}
.duet-pb-xxx-large {
  padding-bottom: 48px !important;
}
.duet-pl-xxx-large {
  padding-left: 48px !important;
}
.duet-pr-xxx-large {
  padding-right: 48px !important;
}
.duet-px-xxx-large {
  padding-right: 48px !important;
  padding-left: 48px !important;
}
.duet-py-xxx-large {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.duet-p-xxx-large {
  padding: 48px !important;
}
.duet-mt-x-large {
  margin-top: 28px !important;
}
.duet-mb-x-large {
  margin-bottom: 28px !important;
}
.duet-ml-x-large {
  margin-left: 28px !important;
}
.duet-mr-x-large {
  margin-right: 28px !important;
}
.duet-mx-x-large {
  margin-right: 28px !important;
  margin-left: 28px !important;
}
.duet-my-x-large {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}
.duet-m-x-large {
  margin: 28px !important;
}
.duet-pt-x-large {
  padding-top: 28px !important;
}
.duet-pb-x-large {
  padding-bottom: 28px !important;
}
.duet-pl-x-large {
  padding-left: 28px !important;
}
.duet-pr-x-large {
  padding-right: 28px !important;
}
.duet-px-x-large {
  padding-right: 28px !important;
  padding-left: 28px !important;
}
.duet-py-x-large {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}
.duet-p-x-large {
  padding: 28px !important;
}
.duet-size-icon-xx-large {
  width: 48px !important;
  height: 48px !important;
}
.duet-size-form-border {
  border-width: 1px !important;
}
.duet-size-step-medium {
  width: 40px !important;
  height: 40px !important;
}
.duet-size-button-min-width {
  min-width: 8rem !important;
}
.duet-size-icon-xxx-large {
  width: 72px !important;
  height: 72px !important;
}
.duet-size-icon-x-large {
  width: 36px !important;
  height: 36px !important;
}
.duet-size-icon-xx-small {
  width: 10px !important;
  height: 10px !important;
}
.duet-size-step-small {
  width: 30px !important;
  height: 30px !important;
}
.duet-size-icon-large {
  width: 30px !important;
  height: 30px !important;
}
.duet-size-tappable-square {
  width: 48px !important;
  height: 48px !important;
}
.duet-size-icon-x-small {
  width: 16px !important;
  height: 16px !important;
}
.duet-size-icon-xxx-small {
  width: 7px !important;
  height: 7px !important;
}
.duet-size-icon-medium {
  width: 24px !important;
  height: 24px !important;
}
.duet-size-icon-small {
  width: 20px !important;
  height: 20px !important;
}
.duet-opacity-85 {
  opacity: 0.85 !important;
}
.duet-opacity-75 {
  opacity: 0.75 !important;
}
.duet-opacity-50 {
  opacity: 0.5 !important;
}
.duet-opacity-30 {
  opacity: 0.3 !important;
}
.duet-z-index-dropdown {
  z-index: 600 !important;
}
.duet-z-index-spinner {
  z-index: 800 !important;
}
.duet-z-index-default {
  z-index: 1 !important;
}
.duet-z-index-toast {
  z-index: 500 !important;
}
.duet-z-index-popup {
  z-index: 950 !important;
}
.duet-z-index-modal {
  z-index: 900 !important;
}
.duet-z-index-sticky {
  z-index: 300 !important;
}
.duet-z-index-masked {
  z-index: 100 !important;
}
.duet-z-index-deep {
  z-index: -999999 !important;
}
.duet-z-index-overlay {
  z-index: 700 !important;
}
.duet-z-index-mask {
  z-index: 200 !important;
}
.duet-z-index-header {
  z-index: 400 !important;
}
.duet-line-height-medium {
  line-height: 1.5 !important;
}
.duet-line-height-small {
  line-height: 1.25 !important;
}
.duet-line-height-x-small {
  line-height: 1.1 !important;
}
.duet-transition-quickly {
  transition: all 300ms ease !important;
}
.duet-transition-slowly {
  transition: all 600ms ease !important;
}
*, *::after, *::before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
body {
  font-family: "localtapiola-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #00294d;
  background: transparent !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.duet-theme-turva body {
  font-family: "turva-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #171c3a;
}
strong, b {
  font-weight: 600;
}
.duet-theme-turva strong, .duet-theme-turva b {
  font-weight: 700;
}
button, fieldset, form, input, label, select, textarea {
  font-family: "localtapiola-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.duet-theme-turva button, .duet-theme-turva fieldset, .duet-theme-turva form, .duet-theme-turva input, .duet-theme-turva label, .duet-theme-turva select, .duet-theme-turva textarea {
  font-family: "turva-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  padding: 0;
  margin: 0;
}
i, em {
  font-style: normal;
}
a {
  color: #0077b3;
  transition: 300ms ease;
}
.duet-theme-turva a {
  color: #c60c30;
}
a:hover {
  color: #004d80;
  text-decoration: none;
}
.duet-theme-turva a:hover {
  color: #940925;
}
a:active {
  opacity: 0.75;
  transition: none;
}
.duet-list {
  padding: 0 0 0 36px;
  margin: 0 0 16px;
  font-family: "localtapiola-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #00294d;
  border: 0 !important;
}
.duet-theme-turva .duet-list {
  font-family: "turva-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #171c3a;
}
ul.duet-list {
  list-style: disc !important;
}
ol.duet-list {
  list-style-type: decimal !important;
}
.duet-list li {
  padding: 0 !important;
  margin: 0 0 12px !important;
}
.duet-list li:last-of-type {
  margin: 0 !important;
}
.duet-list li ul, .duet-list li ol {
  margin-top: 12px !important;
}
.duet-sticky-footer body, .duet-sticky-body {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}
.duet-sticky-content {
  flex: 1 0 auto !important;
}
.duet-font-style-italic {
  font-style: italic !important;
}
.duet-text-left {
  text-align: left !important;
}
.duet-text-center {
  text-align: center !important;
}
.duet-text-right {
  text-align: right !important;
}
.duet-expand {
  width: 100% !important;
}
.duet-reset {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.duet-visually-hidden {
  position: absolute !important;
  top: 0;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
}
.duet-responsive-table {
  position: relative;
  width: 100%;
  overflow-x: auto;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0)), linear-gradient(-90deg, #fff 0%, rgba(255, 255, 255, 0)) 100% 0, radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)) 100% 0%;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100px 100%, 100px 100%, 12px 100%, 12px 100%;
}
.duet-selected-column {
  background: rgba(0, 119, 179, 0.08);
}
.duet-theme-turva .duet-selected-column {
  background: rgba(68, 68, 69, 0.08);
}
.duet-bg-gradient {
  background-color: #fff !important;
  background-image: linear-gradient(#f3f9fc, white) !important;
  background-repeat: no-repeat !important;
  background-size: 100% 1000px !important;
}
.duet-bg-gradient.duet-theme-turva {
  background-image: linear-gradient(#f5f5f7, white) !important;
}
.duet-animate-load body {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms 180ms ease;
}
.duet-animate-load.hydrated body {
  visibility: visible;
  opacity: 1;
}
duet-paragraph + duet-heading {
  margin-top: 20px !important;
}
@media (min-width: 36em) {
  duet-paragraph + duet-heading {
    margin-top: 28px !important;
  }
}
duet-paragraph + duet-button {
  margin-top: 12px !important;
}
.duet-toast {
  position: fixed;
  top: 16px;
  left: 50%;
  z-index: 500;
  width: calc(100% - 28px);
  max-width: 576px;
  transform: translateX(-50%);
}
.duet-toast duet-alert {
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 41, 77, 0.1);
}
duet-action-button:not(.hydrated), duet-alert:not(.hydrated), duet-badge:not(.hydrated), duet-breadcrumb:not(.hydrated), duet-breadcrumbs:not(.hydrated), duet-button:not(.hydrated), duet-caption:not(.hydrated), duet-card:not(.hydrated), duet-checkbox:not(.hydrated), duet-choice:not(.hydrated), duet-choice-group:not(.hydrated), duet-collapsible:not(.hydrated), duet-combobox:not(.hydrated), duet-cookie-consent:not(.hydrated), duet-date-picker:not(.hydrated), duet-divider:not(.hydrated), duet-editable-table:not(.hydrated), duet-empty-state:not(.hydrated), duet-fieldset:not(.hydrated), duet-footer:not(.hydrated), duet-grid:not(.hydrated), duet-grid-item:not(.hydrated), duet-header:not(.hydrated), duet-heading:not(.hydrated), duet-hero:not(.hydrated), duet-icon:not(.hydrated), duet-input:not(.hydrated), duet-label:not(.hydrated), duet-layout:not(.hydrated), duet-link:not(.hydrated), duet-list:not(.hydrated), duet-list-item:not(.hydrated), duet-logo:not(.hydrated), duet-modal:not(.hydrated), duet-notification:not(.hydrated), duet-notification-drawer:not(.hydrated), duet-number-input:not(.hydrated), duet-pagination:not(.hydrated), duet-paragraph:not(.hydrated), duet-progress:not(.hydrated), duet-radio:not(.hydrated), duet-radio-group:not(.hydrated), duet-range-slider:not(.hydrated), duet-range-stepper:not(.hydrated), duet-scrollable:not(.hydrated), duet-select:not(.hydrated), duet-spacer:not(.hydrated), duet-spinner:not(.hydrated), duet-step:not(.hydrated), duet-stepper:not(.hydrated), duet-tab:not(.hydrated), duet-tab-group:not(.hydrated), duet-table:not(.hydrated), duet-textarea:not(.hydrated), duet-toggle:not(.hydrated), duet-tooltip:not(.hydrated), duet-tray:not(.hydrated), duet-upload:not(.hydrated), duet-upload-aria-status:not(.hydrated), duet-visually-hidden:not(.hydrated) {
  visibility: hidden;
}
.duet-breakpoints::after {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2147483647;
  box-sizing: border-box;
  padding: 6px 8px;
  font-family: "localtapiola-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10px;
  font-weight: 600;
  color: #909599;
  background: #f5f8fa;
  border-top-left-radius: 4px;
}
@media (max-width: 35.9375em) {
  .duet-breakpoints::after {
    content: "X-Small";
  }
}
@media (max-width: 22.5em) {
  .duet-breakpoints::after {
    content: "XX-Small";
  }
}
@media (min-width: 36em) {
  .duet-breakpoints::after {
    content: "Small";
  }
}
@media (min-width: 48em) {
  .duet-breakpoints::after {
    content: "Medium";
  }
}
@media (min-width: 62em) {
  .duet-breakpoints::after {
    content: "Large";
  }
}
@media (min-width: 64.0625em) {
  .duet-breakpoints::after {
    content: "X-Large";
  }
}
@media (min-width: 76.25em) {
  .duet-breakpoints::after {
    content: "XX-Large";
  }
}
.duet-breakpoints.duet-theme-turva::after {
  color: #747475;
  background: #f5f5f7;
}

/*# sourceMappingURL=styles.css.map*/